body{margin:0;padding: 0}
a{text-decoration: none}
ul{list-style-type: none}

#all{
    width: 100%;
    
    overflow:hidden;

}
#header{
    width: 100%;
    height:30px;
   
    background: #3a3a3a;

}
#header #header_text{
    width: 1100px;
    height:30px;
   
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 30px;
}
#header #header_text #header_left{
    height: 30px;
    width:200px;
    /*border:1px solid red;*/
    float:left;
}
#header #header_text #header_right{
    width: 230px;
    height:30px;
    /*border:1px solid blue;*/
    float: right;

}
#header #header_text #header_right a{
    display: block;
    width: 35px;
    height: 30px;
    float: left;
    color: #FFF;
    text-align: center;
    /*border: 1px solid purple;*/
}
#header #header_text #header_right a:nth-child(1){

    background:url("../img/header_small.png") no-repeat 0 0;
}
#header #header_text #header_right a:nth-child(2){
    background: url("../img/header_small.png") no-repeat -37px 0;
}
#header #header_text #header_right a:nth-child(3){
    background: url("../img/header_small.png") no-repeat -80px 0;
}
#header #header_text #header_right a:nth-child(5){
    width: 4px;
}
#header #header_text #header_right a:nth-child(7){
    background: url("../img/header_small.png") no-repeat -210px 0;
}

#nav{
    height:100px;
    width:100%;
    /*border: 1px solid red;*/

}
#nav div{
    width: 1100px;
    height:100px;
    margin: 0 auto;
    /*border: 1px solid red;*/

}
#nav div #nav_logo{
    width: 274px;
    height:100px;
    float: left;
    background: url("../img/nav_logo.png");

}
#nav div #nav_ul{
    float: left;
    width: 784px;
    height:100px;
    margin-top: 0;
    /*margin-left: 54px;*/

}
#nav div #nav_ul li{
    float: left;
    width: 98px ;
    height:100px;
    line-height: 100px;
    font-size: 14px;
    color: black;
    text-align: center;
    /*border:1px solid orange;*/
}
#nav div #nav_ul li a{
    display: block;
    width: 98px ;
    height:98px;
    color: black;


}
#nav div #nav_ul li:nth-child(4) a{
    color:#aac540;
    border-bottom: 2px solid #00FF00;

}
#nav div #nav_ul li a:hover{
    color: #aac540;
    border-bottom: 2px solid #00FF00;

}
#headerbg{
    height:100px;
    width: 100%;
    background: url("../img/nav_picture_bg.jpg") no-repeat 100% 100%;
   
}
.serviceline{
	width: 1140px;
	height: 836px;
	margin: 0 auto;
}
.line{
	width: 130px;
	height: 90px;
}
.line h1{
	font-family: "微软雅黑";
	font-size: 12px;
	color:#dbdbdb;
}
.line2{
	width: 1140px;
	height: 735px;
}
.line2 ul{
	margin: 0 auto;
}
.line2 ul li{
	list-style-type:none;
	float: left;
	margin: 30px 15px 0px 0px;
}
.line2 ul li a{
	display:block;
	color:black;
	text-align: center;
	margin:0 auto;
	font-family: "Microsoft YaHei UI";
}
.line2 ul li a:hover{
	color: green;
}
#foot{
    width: 100%;
    height:216px;
    /*border:1px solid purple;*/

}
#foot div:first-child{
    width: 100%;
    height: 216px;
    background:#3a3a3a;
}
#foot div .content{
    width: 1100px;
    height:216px;
    margin: 0 auto;
    color: gray;
    /*border: 1px solid #00FF00;*/

}
#foot div .content #ewm{
    width: 111px;
    height:131px;
    float: right;
    margin-top: 40px;
    margin-right: 95px;
    background: url("../img/foot_ewm.png") no-repeat 0 0;

}
#foot div .content #ewm span{
    font-size: 12px;
    color: gray;
    display: block;
    margin-top: 111px;

}
#foot div .content a{
    display: block;
    width:275px;
    height: 216px;
    background: url("../img/foot_bglogo.png") no-repeat center center;
    /*border:1px solid red;*/
    float: left;

}
#foot div .content div{
    width:150px;
    height:216px;
   text-align: center;
    /*border:1px solid red;*/
    float: left;

}
#foot div .content div .content_span1{
    display: block;
    padding-top: 40px;
    font-size: 18px;
    font-weight: 900;
    color: #FFF;
}
#foot div .content div .content_div{
    height: 152px;

}
#foot div .content div .content_div span{
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: gray;
    border-right: 1px solid gray;
}
#foot div .content div .content_div1 span{
    border:0;

}
#last{
    width: 100%;
    height:30px;
    background: #2a2a2a;

}
#last span{
    color: gray;
    font-size: 12px;
    display: block;
    line-height: 30px;
    text-align: center;

}